{% extends 'catalog/base.html' %}
{% block content %}

<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">Восстановление доступа</h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <input type="text" name="email" class="form-control" id="name" placeholder="Ваш email"><br>
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Сгенерировать пароль</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}