{% extends 'catalog/base.html' %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{{ title }}</h1>
    </div>
</section>
<div class="row text-center">
    {% for product in page_obj %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.product_name|title}}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li> {{ product.descriptions|slice:":100"}} </li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                    <a href="{% url 'catalog:product' product.pk %}" class="btn btn-lg btn-block btn-outline-primary">Подробнее о товаре</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<br>
<div class="col-3 col-md-6 col-sm-12">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h3 class="my-0 font-weight-normal">Заполните данные о новом товаре:</h3>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <input type="text" name="name" class="form-control" id="name" placeholder="Наименование продукта"><br>
                <textarea name="descriptions" class="form-control" id="descriptions" placeholder="Описание" required></textarea><br>
                <input type="file" name="picture" class="form-control-file" id="exampleFormControlFile1" placeholder="Изображение" required><br>>
                <select class="form-select" aria-label="Пример выбора по умолчанию">
                    <option selected>Категории</option>
                    <option value="1">1 - рассылки</option>
                    <option value="2">2 - телеграмм-боты</option>
                    <option value="3">3 - полезные утилиты</option>
                    <option value="4">4 - веб-приложение</option>
                    <option value="5">5 - микросервисы</option>
                </select>
                <input type="text" name="category" class="form-control" id="category" placeholder="Введите номер категории" required><br>
                <input type="text" name="price" class="form-control" id="price" placeholder="Цена" required><br>
                <input type="text" name="data_create" class="form-control" id="data_create" placeholder="Дата создания" required><br>
                <input type="text" name="data_update" class="form-control" id="data_update" placeholder="Дата обновления" required><br>
                <input class="btn btn-lg btn-block btn-outline-primary" type="submit" value="Отправить"/>
            </form>
        </div>
    </div>
</div>
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; первая</a>
    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">следующая</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}
